<footer>
    <section class="container-footer">
            <img src="./assets/selo-ej.svg" class="selo-ej"/>
            <div class="container-icons">
                
            </div>
            <div class="container-text">
                <p> <strong>Endereço:</strong> Av. Primeiro de Maio, 720 - Jaguaribe, João Pessoa - PB, 58015-435</p>
                <p> <strong>Email:</strong> comercialunisigma@gmail.com</p>
                <p> <strong>Telefone:</strong> +55 83 98669-0647 <p>
            </div>
    </section>
</footer>
