<footer>
  <section class="container-footer">
    <div class="container-img">
      <img src="./assets/selo-ej.svg" />
    </div>

    <div class="container-icons">
      <a href="#">
        <fa-icon [icon]="faWhatsapp"></fa-icon>
      </a>

      <a href="https://www.instagram.com/unisigma/">
        <fa-icon [icon]="faInstagram"></fa-icon>
      </a>

      <a href="https://github.com/UnisigmaOficial">
        <fa-icon [icon]="faGithub"></fa-icon>
      </a>
    </div>

    <div class="container-text">
      <p>
        <strong>Endereço:</strong> Av. Primeiro de Maio, 720 - Jaguaribe, <br />
        João Pessoa - PB, 58015-435
      </p>

      <p><strong>Email:</strong> comercialunisigmagmail.com</p>

      <p><strong>Telefone:</strong> +55 83 98669-0647</p>
    </div>
  </section>
</footer>
