<footer>
  <section class="container-footer">
    <div class="container-img">
      <img src="/assets/logos/selo-ej.svg" alt="Selo EJ" loading="lazy" />
    </div>

    <div class="container-icons">
      <a
        href="https://wa.me/5583986690647?text=Ol%C3%A1%2C+preciso+tirar+algumas+duvidas."
        aria-label="Entrar em contato por WhatsApp"
      >
        <fa-icon [icon]="faWhatsapp"></fa-icon>
      </a>

      <a
        href="https://www.instagram.com/unisigma/"
        aria-label="Acessar Instagram da UniSigma"
      >
        <fa-icon [icon]="faInstagram"></fa-icon>
      </a>

      <a
        href="https://github.com/UnisigmaOficial"
        aria-label="Acessar Github da UniSigma"
      >
        <fa-icon [icon]="faGithub"></fa-icon>
      </a>
    </div>

    <div class="container-text">
      <p>
        <strong>Endereço:</strong> Av. Primeiro de Maio, 720 - Jaguaribe, <br />
        João Pessoa - PB, 58015-435
      </p>

      <p><strong>Email:</strong> comercialunisigmagmail.com</p>

      <p><strong>Telefone:</strong> +55 83 98669-0647</p>
    </div>
  </section>
</footer>
