footer {
  width: 100%;
  background-color: var(linear-gradient(135deg, #258aad 30%, #4abae1));
  border-top: 1px solid var(--gray);
}

.container-footer {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 2rem 4rem;
  max-width: 100%;
}

.container-img {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: left;
}

.container-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 20px;
  color: var(--white);
}

a:visited {
  color: var(--white);
}

.container-text {
  font-size: 12px;
  text-align: right;
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
