<header>
  <input type="checkbox" id="toggle-menu" ngModel #menuCheckbox />

  <div class="container-header">
    <a routerLink="" (click)="closeMenu()">
      <img src="./assets/logo.svg" class="logo" />
    </a>

    <nav class="transition">
      <div class="options-menu">
        <ul>
          <li>
            <a routerLink="/" (click)="closeMenu()">Home</a>
          </li>

          <li>
            <a routerLink="/portfolio" (click)="closeMenu()">Portfólio</a>
          </li>

          <li>
            <a routerLink="/quem-somos" (click)="closeMenu()">Quem somos</a>
          </li>

          <li>
            <a
              routerLink="/contato"
              class="action-link transition"
              (click)="closeMenu()"
            >
              CONTATO
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <label for="toggle-menu">
      <fa-icon [icon]="menuIcon" class="menu-icon"></fa-icon>
    </label>
  </div>
</header>
