header {
  width: 100%;
  background-color: linear-gradient(135deg, #258aad 30%, #4abae1);
  margin-bottom: 2.5rem;
  border-bottom: 1px solid var(--gray);
}

input[type="checkbox"],
label {
  display: none;
}

.logo {
  width: 180px;
  height: 91.26px;
}

.container-header {
  max-width: 100%;
  padding: 2.5rem 4rem;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 0px 0.5px 0.5px rgb(204, 204, 204, 0.8);
}

.options-menu {
  display: flex;
  text-align: right;
  justify-content: right;
}

ul {
  list-style-type: none;
  display: inline-flex;
  gap: 1rem;
}

li a {
  padding: 10px 20px;
  display: inline-block;
  text-align: justify;
  font-weight: 500;
  font-size: 1.25rem;
  color: var(--white, #fff);
  cursor: pointer;
}

@media (max-width: 390px) {
  .container-header {
    padding: 1.125rem 2rem;
  }

  .logo {
    width: 88px;
    height: 51px;
  }

  label {
    display: block;
    font-size: 1.75rem;
    justify-self: end;
    color: #fff;
  }

  nav {
    position: fixed;
    top: 95px;
    left: 0;
    background-image: linear-gradient(135deg, #258aad 30%, #4abae1);
    display: flex;
    z-index: 50;
    gap: 2.5rem;
    padding-top: 40px;
    flex-direction: column;
    width: 100vw;
    height: 100%;
    transform: translateX(-100%);
  }

  input[type="checkbox"]:checked + .container-header nav {
    transform: translateX(0);
  }

  .container-header nav .options-menu ul {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 2.5rem;
  }

  .container-header nav .options-menu ul li {
    text-align: center;
    width: 100%;
  }

  .container-header nav .options-menu ul li .action-link {
    width: calc(100% - 4rem);
    text-align: center;
  }
}
