<header>
  <input type="checkbox" id="toggle-menu" ngModel #menuCheckbox />

  <div class="container-header" aria-label="Navegar para página principal">
    <a routerLink="/" (click)="closeMenu()">
      <img src="/assets/logos/logo.svg" alt="UniSigma logo" class="logo" />
    </a>

    <nav class="transition">
      <div class="options-menu">
        <ul>
          <li>
            <a
              routerLink="/"
              (click)="closeMenu()"
              aria-label="Navegar para página principal"
              >Home</a
            >
          </li>

          <li>
            <a
              routerLink="/portfolio"
              (click)="closeMenu()"
              aria-label="Navegar para página portfólio"
              >Portfólio</a
            >
          </li>

          <li>
            <a
              routerLink="/quem-somos"
              (click)="closeMenu()"
              aria-label="Navegar para página quem somos"
              >Quem somos</a
            >
          </li>

          <li>
            <a
              routerLink="/contato"
              class="action-link transition"
              (click)="closeMenu()"
              aria-label="Navegar para página contato"
            >
              CONTATO
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <label for="toggle-menu">
      <fa-icon [icon]="menuIcon" class="menu-icon"></fa-icon>
    </label>
  </div>
</header>
