section {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding: 0 4rem;
    margin-top: 60px;
    width: 100%;
}
section h2 {
    color: var(--white);
}

section ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

section li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px
}

span {
    color: var(--white);
}
fa-icon {
    color: var(--primary-yellow);
    font-size: 25px;
}

@media (max-width: 425px) {
    section {
        padding: 0 2rem;
        gap: 1rem;
        width: 100%;
    }
    section h2 {
        margin-bottom: 1.75rem;
    }
    section ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        gap: 3rem;
    }
    section li {
        gap: 20px
    }
}
