<section>
    <h2>
        Nossos valores
    </h2>
    <ul>
        <li>
            <fa-icon [icon]="faStar"></fa-icon>
            <span>Ser aberto e franco <br> com os membros e <br>clientes</span>
        </li>
        <li>
            <fa-icon [icon]="faStar"></fa-icon>
            <span>Liderar pelo <br> exemplo</span>
        </li>
        <li>
            <fa-icon [icon]="faStar"></fa-icon>
            <span>Responsabilidade e <br> compromisso com <br>resultado</span>
        </li>
        <li>
            <fa-icon [icon]="faStar"></fa-icon>
            <span>Orgulho em <br> ser MEJ</span>
        </li>
        <li>
            <fa-icon [icon]="faStar"></fa-icon>
            <span>Pensamos e agimos <br> como donos com foco <br>no sucesso do cliente</span>
        </li>
    </ul>
</section>
