.pdf-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin-bottom: 80px;
}

.pdf-viewer {
  width: 50%;
  height: 100%;
}

@media (max-width: 500px) {
  .pdf-viewer {
    width: 80%;
  }
}
