section {
  color: var(--white);
  padding: 0 4rem 6.25rem;
  display: flex;
  justify-content: space-between;
}

section h1 {
  margin-bottom: 4rem;
}

section .contact-type {
  display: flex;
  flex-direction: column;
  gap: 1.125rem;
  margin-bottom: 3.5rem;
}

section .contact-type span {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  font-weight: 700;
  font-size: 1.5rem;
}

section .contact-type p {
  font-size: 1.25rem;
}
@media (max-width: 390px) {
  section {
    padding: 0 2rem;
    gap: 1rem;
    width: 100%;
    justify-content: center;
    flex-direction: column;
  }
  section h1 {
    margin-bottom: 3rem;
  }
  section .contact-type span {
    font-size: 1rem;
  }
  section .contact-type p {
    font-size: 1rem;
    gap: 1rem;
  }
  section iframe {
    width: 296px;
    height: 340px;
    margin-bottom: 4rem;
  }

}