.contact-types {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.contact-types .contact-type .contact-title .icon {
  font-size: 4rem;
}

.contact-types .contact-type p {
  width: 26.25rem;
  font-size: 1.25rem;
  margin: 1.5rem 0 1rem;
  line-height: 2rem;
  font-family: "Quicksand", sans-serif;
}

.contact-types .contact-type a {
  font-size: 1.5rem;
  color: var(--white);
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.contact-types .contact-type a span {
  text-decoration: underline;
}

.contact-types .contact-type a fa-icon {
  color: var(--black);
}

@media (max-width: 1366px) {
  .contact-types .contact-type p {
    width: 25rem;
    font-size: 1.125rem;
  }

  .contact-types .contact-type p {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .contact-types {
    flex-direction: column;
    gap: 3rem;
  }

  .contact-types .contact-type .contact-title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .contact-types .contact-type .contact-title .icon {
    font-size: 2.5rem;
  }
}

@media (max-width: 500px) {
  .contact-types .contact-type .contact-title .icon {
    font-size: 1.25rem;
  }

  .contact-types .contact-type .contact-title h2 {
    font-size: 1rem;
  }

  .contact-types .contact-type p {
    width: 100%;
    font-size: 0.75rem;
    line-height: 1.25rem;
    margin: 0.75rem 0;
  }

  .contact-types .contact-type a {
    font-size: 1rem;
    gap: 0.5rem;
  }
}
