<div class="contact-types">
  <div class="contact-type">
    <div class="contact-title">
      <fa-icon class="icon" [icon]="phoneIcon" />

      <h2>Telefone:</h2>
    </div>

    <p>
      Entre em contato com nosso tempo de relacionamento pelo ​(83) 98669-0647,
      e tire suas dúvidas com um dos especialistas da Unisigma.
    </p>

    <a href="tel:(83) 98669-0647" target="_blank">
      <span>Ligar Agora</span>
      <fa-icon [icon]="arrowRightIcon" />
    </a>
  </div>

  <div class="contact-type">
    <div class="contact-title">
      <fa-icon class="icon" [icon]="mailIcon" />

      <h2>E-mail:</h2>
    </div>

    <p>
      Prefere o contato por e-mail? Envie suas dúvidas para
      comercialunisigma&#64;gmail.com Nosso time de especialistas responderá em
      até 3 dias úteis.
    </p>

    <a
      href="mailto:comercialunisigma@gmail.com?subject=PLANEJAMENTO%20EMPRESARIAL%20%2F%20DIGITAL"
      target="_blank"
    >
      <span>Enviar e-mail</span>
      <fa-icon [icon]="arrowRightIcon" />
    </a>
  </div>

  <div class="contact-type">
    <div class="contact-title">
      <fa-icon class="icon" [icon]="whatsAppIcon" />

      <h2>WhatsApp:</h2>
    </div>

    <p>
      Nos envie uma mensagem através do nosso canal oficial do WhatsApp, pelo
      (83) 98669-0647. Nossa equipe de relacionamento entrará em contato com
      você em breve.
    </p>

    <a
      href="https://wa.me/5583986690647?text=Ol%C3%A1%2C+preciso+tirar+algumas+duvidas."
      target="_blank"
    >
      <span>Falar no WhatsApp</span>
      <fa-icon [icon]="arrowRightIcon" />
    </a>
  </div>
</div>
