<section id="contact">
  <div class="content">
    <h1>Entre em contato</h1>

    <div class="contact-type">
      <span>Telefone:</span>
      <p>+55 83 98669-0647</p>
    </div>

    <div class="contact-type">
      <span>E-mail:</span>
      <p>comercialunisigma&#64;gmail.com</p>
    </div>

    <div class="contact-type">
      <span>Nos encontre:</span>
      <p>
        Av. Primeiro de Maio, 720 - Jaguaribe,<br />
        João Pessoa - PB, 58015-435
      </p>
    </div>
  </div>

  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3958.917279419156!2d-34.876045225758595!3d-7.1355642928684695!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7ace810852ae4f1%3A0xaf5445223401f2bb!2sIFPB%20-%20Campus%20Jo%C3%A3o%20Pessoa!5e0!3m2!1spt-BR!2sbr!4v1713462748179!5m2!1spt-BR!2sbr"
    width="732"
    height="600"
    style="border: 0; border-radius: 4px"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
</section>
