.whoweare{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    gap: 6rem;
    color: #fff;
    padding: 0 4rem;
    margin-top: 40px;
}
.container-who {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container-who p {
    font-size: 1.25rem;
    font-family: "Quicksand", sans-serif;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}
.container-img{
    display: flex;
    align-items: center;
    justify-content: center;
}
