<section class="whoweare">
    <div class="container-who">
      <h1>
        Quem somos
      </h1>
  
      <p>
        Empresa Junior fundada em 2010, buscando sair da teoria e
        por em prática 
        o conhecimento adquirido nos cursos e visando trazer soluções 
        únicas que impactam o mercado e a vivência dos membros.  Nossa visão é 
        tornar uma EJ referência na região com processos estruturados e soluções inovadoras.
      </p>

    </div>
  
    <img src="./assets/selo-ej-colorido.svg" alt=""/>
  </section>
