#wave {
    width: 100vw;
    position: relative;
    margin-top: 60px;
    bottom: -8px;
}
section {
    background-color: var(--ice);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section h2 {
    margin-bottom: 4rem;
    align-items: center;
    color: var(--black);
}

section .feedbacks {
    display: flex;
    gap: 56px;
}

section .feedbacks p {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--gray);
    padding: 32px 12px;
    width: 400px;
    height: 180px;
    text-align: center;
    border-radius: 8px;
    font-style: italic;
    font-size: 20px;
    line-height: 40px;
}

section a {
    padding: 24px 32px;
    display: inline-block;
    margin: 6.25rem 0 5rem;
    box-shadow: 0 3px 20px 4px rgba(0, 0, 0, 0.15);
}
@media (max-width: 390px) {
    section a {
        padding: 1rem 1rem;
        margin-top: 40px;
    }
    section h2 {
        margin-bottom: 28px;
        margin-top: 20px;
    }
    section .feedbacks {
        flex-direction: column;
        gap: 32px;
    }
    section .feedbacks p {
        padding: 18px 12px;
        width: 280px;
        height: 140px;
        font-size: 12px;
        line-height: 24px
    }
}