<section id="presentation">
  <div class="content">
    <h1>
      Empresa Júnior dos cursos de <br />
      Administração e Sistemas para Internet do IFPB
    </h1>

    <p>
      Com sede de empreender e entregando soluções que impactam o mercado
      positivamente, nós, da Unisigma, estamos aqui para garantir que a
      tecnologia não seja uma barreira, mas sim uma ferramenta acessível e
      eficaz para você, sua equipe e seu negócio.
    </p>

    <a href="#" class="transition action-link">Nosso Portfólio</a>
  </div>

  <img src="/assets/illustration-team.svg" alt="" />
</section>
