section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.75rem;
  width: 100%;
  margin-top: 4rem;
  color: #fff;
  padding: 0 4rem;
}

section .content {
  display: flex;
  flex-direction: column;
}

section .content p {
  font-size: 1.25rem;
  font-family: "Quicksand", sans-serif;
  line-height: 2.5rem;
  width: 35.875rem;
  margin-top: 3.5rem;
  margin-bottom: 2.5rem;
}

section .content a {
  padding: 1.5rem 2rem;
  width: 21.75rem;
}

@media (min-width: 1440px) {
  section {
    padding: 0 7rem;
  }

  section .content p {
    width: 95%;
    font-size: 1.75rem;
    line-height: 3rem;
  }
}

@media (max-width: 1024px) {
  section {
    padding: 0 2rem;
  }

  section .content {
    max-width: 100%;
  }

  section .content h1 {
    font-size: 2.5rem;
  }

  section .content p {
    font-size: 1.2rem;
    line-height: 1.90rem;
    width: 100%;
    margin: 1.5rem 0;
  }

  section .content a {
    padding: 0.75rem 0;
    width: 100%;
  }

  section img {
    width: 40%;
  }
}

@media (max-width: 768px) {
  section {
    padding: 0 2rem;
    flex-direction: column;
    padding: 0 70px 0 70px;
  }

  section .content {
    max-width: 100%;
  }

  section .content h1 {
    font-size: 2.5rem;
  }

  section .content p {
    font-size: 1.2rem;
    line-height: 1.90rem;
    width: 100%;
    margin: 1.5rem 0;
  }

  section .content a {
    padding: 0.75rem 0;
    width: 100%;
  }

  section img {
    width: 90%;
  }
}

@media (max-width: 500px) {
  section {
    padding: 0 2rem;
    flex-direction: column;
  }

  section .content {
    max-width: 100%;
  }

  section .content p {
    font-size: 0.75rem;
    line-height: 1.25rem;
    width: 100%;
    margin: 1rem 0;
  }

  section .content a {
    padding: 0.75rem 0;
    width: 100%;
  }

  section img {
    width: 100%;
  }
}
